/* @tailwind base;
@tailwind components;
@tailwind utilities; */

img {
  width: 100px;
}

.mycontainer {
  margin:auto;
  width:80%;
}

.centertext {
  text-align: center  ;
}

.marginauto {
  margin:auto;
}